<nav class="navbar navbar-inverse navbar-static-top" role="navigation" style="margin-bottom: 0">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse" title="Clique para expandir o menu.">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>

    </div>
        @*@{
                if (HttpContext.Current.User.Identity.IsAuthenticated)
                {
                    <p class="collapse">@HttpContext.Current.User.Identity.Name</p>
                }

            }*@
        @using (@Html.BeginForm("Sair", "Autenticacao"))
        {
            <input type="submit" class="btn btn-lg btn-danger glyphicon glyphicon-off pull-right" value="Sair" style="margin-top:0.3%;margin-right:0.3%;" title="Clique para sair do sistema." />
        }
   
</nav>
<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav" id="menu">
            <li title="Início">@Html.ActionLink("Início", "Index", "Home")</li>
            <li title="Projetos">@Html.ActionLink("Projeto", "Index", "Projeto")</li>
            <li title="Sprints">@Html.ActionLink("Sprint", "Index", "Sprint")</li>
            <li title="Times">@Html.ActionLink("Time", "Index", "Time")</li>
            <li title="Pepeis">@Html.ActionLink("Papel", "Index", "Papel")</li>
            <li title="Membro dos times">@Html.ActionLink("Membro do time", "Index", "MembroTime")</li>
            <li title="Tipos de tarefas">@Html.ActionLink("Tipo de tarefa", "Index", "TipoTarefa")</li>
            <li title="Histórias">@Html.ActionLink("História", "Index", "estoria")</li>           
            <li title="Tarefas">@Html.ActionLink("Tarefa", "Index", "Tarefa")</li>
            <li id="burdDown" title="Visualizar Relatórios">
                <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i>Relatórios<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li title="Relatório de sprint">@Html.ActionLink("Sprint BurnDown", "Index", "BurnDown")</li>
                    <li title="Relatórios de release">@Html.ActionLink("Release BurnDown", "ReleaseBurnDown", "BurnDown")</li>
                </ul>
            </li>
        </ul>
        <!-- /#side-menu -->
    </div>
</nav><!-- /.sidebar-collapse -->
