@model Scrum.Dominio.Models.Estoria

@{
    ViewBag.Title = "detalhes da história - Scrum";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-center">Detalhes história</h2>

<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
           Sprint
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sprint.titulo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.status.status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.status.status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.titulo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.titulo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.descricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descricao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.pontosEstimados)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pontosEstimados)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dataInicio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dataInicio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dataConclusao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dataConclusao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dataCriacao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dataCriacao)
        </dd>      

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.id }, new { @class = "btn btn-default"})
    @Html.ActionLink("Voltar a lista", "Index", null, new { @class = "btn btn-default"})
</p>
