@model IEnumerable<Scrum.Dominio.Models.Estoria>
@{
    ViewBag.Title = "Lista de histórias - Scrum";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2 class="text-center">Lista de histórias</h2>
<p>
    @Html.ActionLink("Novo", "Create", null, new { @class = "btn btn-default" })
</p>
<table class="table table-hover table-condensed">
    <thead>
        <tr>
    <th title="´Título da sprint.">
        Sprint
    </th>
    <th title="Status que a sprint esta atualmente.">
        @Html.DisplayNameFor(model => model.status.status)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.titulo)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.descricao)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.pontosEstimados)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.dataInicio)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.dataConclusao)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.dataCriacao)
    </th>
    <th>Opções</th>
    </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.sprint.titulo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.status.status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.titulo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.descricao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.pontosEstimados)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.dataInicio)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.dataConclusao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.dataCriacao)
                </td>
                <td>
                    @Html.ActionLink(" ", "Edit", new { id = item.id }, new { @class = "btn btn-default glyphicon glyphicon-pencil", @title = "Editar história." })
                    @Html.ActionLink(" ", "Details", new { id = item.id }, new { @class = "btn btn-primary glyphicon glyphicon-list-alt", @title = "Visualizar detalhes da história" })
                    @Html.Raw("<a data-modal='' href='/estoria/Delete/" + item.id + "' id='" + item.id + "' title='Delete'> <span class='btn btn-danger glyphicon glyphicon-trash'> </span> </a>")
                </td>
            </tr>
        }
    </tbody>
</table>
